<h1>Подписка на новости и события</h1>

<% form_for @subscriber do |f| %>
	<div class="errors">
		<%= f.error_messages %>
	</div>
	<p>
		<%= f.label :last_name, 'Фамилия' %>
		<span style="color: red">*</span><br />
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :first_name, 'Имя' %>
		<span style="color: red">*</span><br />
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :sex, 'Пол' %>
		<span style="color: red">*</span><br />
		<%= f.select :sex, [['Мужской', 'male'], ['Женский', 'female']] %>
	</p>
	<p>
		<%= f.label :email, 'E-mail' %>
		<span style="color: red">*</span><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :spam_agreement, 'Согласие на получение информации от организаторов' %><br />
		<%= f.check_box :spam_agreement, :checked => true %>
	</p>
	<p>
		<%= label_tag '<a style="text-decoration: none; border-bottom: #0066cc 1px dashed" href="agreement" onclick="$(\'agreement\').toggle(); return false;">Согласие на обработку персональных данных</a>' %> 
		<span style="color: red">*</span><br />
		<%= f.check_box :privacy_agreement, :checked => true %>
	</p>
	<p id="agreement" style="display: none">
		Я выражаю свое согласие и разрешаю ООО «ФОЛЬКСВАГЕН Груп Рус» (257009, Калужская обл., г. Калуга ул. Заводская д. 57)/Филиалу ООО «ФОЛЬКСВАГЕН Груп Рус» в г. Москве (117485, г. Москва ул. Обручева д. 30/1), а также, по их поручению, третьим лицам, осуществлять обработку своих персональных данных (фамилия, имя; адрес электронной почты), включая сбор, систематизацию, накопление, хранение, уточнение, использование, распространение (в том числе трансграничную передачу), обезличивание, уничтожение персональных данных), в целях связанных с возможностью предоставления информации о товарах и услугах, которые потенциально могут представлять интерес, а также в целях сбора и обработки статистической информации и проведения маркетинговых исследований. Согласие на обработку персональных данных в соответствии с указанными выше условиями я предоставляю на 10 (десять) лет. Я уведомлен и согласен с тем, что указанное согласие может быть мной отозвано посредством направления письменного заявления заказным почтовым отправлением с описью вложения, либо вручено лично под роспись уполномоченному представителю «ФОЛЬКСВАГЕН Груп Рус».
	</p>
	<p>
		<%= recaptcha_tags %>
	</p>
	<p>
		<%= f.submit 'Зарегистрироваться' %>
	</p>
	<p>
		<span style="color: red">*</span> — необходимо заполнить поля
	</p>
<% end %>
