- @pages.each do |page|
	- if page && page.id!=6
		%h1= page.name
		.list_img
			= image_tag page.photo.url if page.photo.present? 
			.info!= 'к сожалению, страница еще не готова' if page.body.blank?
			- if page.parent_id == 5
				.pokaz_film
					%h3 Показы кинофильма:
					= render :partial => 'pokaz', :locals => { :page => page }
			.info!= page.body.split(/<br class=stop \/>/).first||page.body
			= link_to "подробнее ...", show_path(:id=>page.id), :class=>"all_href"
		.clear
