%h1 
	= 'Редактирование статьи из раздела "'+@curent_page.name+'"'
- if @page.parent_id==5
	%table#pokaz_table
		!= "<col><col><col><col><col><col><col>"
		- @page.pokazs.each do |p|
			%tr.pokaz{ :id=>"pokaz_#{p.id}"}	
				= render :partial=>'pokazs/item', :locals=> { :pokaz => p }
		%tr#pokaz_table_end{:colspan=>'7'}
	#add_pokaz= link_to "добавить показ", { :controller=>"pokazs", :action => "new", :id=>@page.id }, :remote=>true
//	= render :partial=>'pokazs/form', :locals=> { :pokaz => Pokaz.new(:date=>0) }
- form_for :page, :html => { :multipart => true }, :url=> update_pages_path do |f|
	= f.hidden_field(:id, :value => @page.id)
	= render :partial=>'form_page', :locals => {:f => f, :parent => @curent_page.id, :position => @page.position, :page => @page }
