!!!
%html
	%head
		%title 5 фестиваль
		= favicon_link_tag 'title_logo.png'
		-#%link{:rel=>"shortcut icon", :href=>"url картинки", :type=>"image/x-icon"}
		%meta{:name=>"keywords", :content=>"кинофестиваль"}
		%meta{:name=>"description", :content=>"кинофестиваль"}		
		= stylesheet_link_tag "reset", "ie.css", "screen.css", "print.css", "fancy", "main.css"
		= javascript_include_tag "jquery.js", "jquery.fancybox.js", "rails.js", "application.js"
		= csrf_meta_tag
		:javascript
			$(document).ready(function() {	
				var overImg = false;
				var overBtn = false;

				$('#image-bg').mouseenter(function(){
					if (overImg == false) //&& overBtn == false)
					{	
						$('#video_main').fadeIn('slow');
						overImg = true;
					}
				});
				
				$('#video_main').mouseenter(function(){
					$('#video_main').show();
					overImg = true;
				});

				$('#video_main').mouseout(function(){
					overImg = true;
				});
				
				$('#image-bg').mouseout(function(){
					overImg = false;
				});

				$('body *').mouseover(function(){
					if (overImg == false) {$('#video_main').hide();}
				});
			});
	%body
		%table.main
			%tr
				%td.left &nbsp;
				%td.center
					%table.top
						%tr
							%td.l
								#logo
								#kalend
									.menu_but
										%span КАЛЕНДАРЬ
										%h3 Расписание показов
										%table
											%tr
												%td.first ПН
												%td.first ВТ
												%td.first СР
												%td.first ЧТ
												%td.first ПТ
												%td.first СБ
												%td.first ВС
											%tr
											- 1.upto(7) do |n|
												%td
													- if kalend? n
														= link_to n.to_s, kalend_date_path(:id=>n)
													- else
														= n
											%tr
												- 8.upto(14) do |n|
													%td= n
											%tr
												- 15.upto(21) do |n|
													%td= n
											%tr
												- 22.upto(28) do |n|
													%td= n		
								#key_art
									= image_tag("main/key-art#{(rand(3)+1).to_s}.png", :id=>"img")
							%td.r
								#header
									.header_left
										#text_tom
											%h1 международный ежегодный кинофестиваль независимого кино
										#logo_tom
											#im								
									.header_right						
								%table#menu_top
									%tr
										%td.left_menu_bg &nbsp;
										%td.right_menu_bg
											%table.menu
												%tr.first
													%td{:colspan=>5} &nbsp;
												%tr
													%td
													%td.spase &nbsp;
													%td
														%span ТЕМА ФЕСТИВАЛЯ
													%td.spase &nbsp;
													%td
														= link_to "Russian/English", language_path, :class=>"language"
												%tr
													%td
													%td.spase
													%td
														%a{:href=>'show/7'}
															%span Исповедь
													%td.spase
													%td
														%span ПЛОЩАДКИ ФЕСТИВАЛЯ
												%tr
													%td
														%span ДАТА ПРОВЕДЕНИЯ
													%td.spase
													%td
														%a{:href=>'show/7'}
															%span Свидетельства
													%td.spase
													%td
														%a{:href=>'pokazs/7'}
															%span "Пионер"
												%tr
													%td
													%td.spase
													%td
														%a{:href=>'show/7'}
															%span Дневники
													%td.spase
													%td
														%a{:href=>'pokazs/8'}
															%span "Ролан"
												%tr
													%td
														%a
															%span
																.date 18 - 23 ОКТЯБРЯ
													%td.spase
													%td
													%td.spase
													%td
														%a{:href=>'pokazs/3'}
															%span "Пять звезд на Новокузнецкой"
												%tr
													%td
													%td.spase
													%td
													%td.spase
													%td
														%a{:href=>'pokazs/6'}
															%span "Dome"
												%tr.second
													%td{:colspan=>5} &nbsp;
												%tr.second
													%td{:colspan=>5} &nbsp;
												%tr.second
													%td{:colspan=>5} &nbsp;
								#menu_but
									.left_but_bg
									%ul
										%li.menu_but_line.float_left.fest
											= link_to "О ФЕСТИВАЛЕ", all_pages_path(:id=>1)
											- if page = Page.children(1)
												%ul
													- page.each do |ch|
														%li
															= link_to  truncate(ch.name, :length=>30, :ommision=>'...'), show_path(:id=>ch.id), :class=>'top_menu_but'
										%li.menu_but_line.float_left.prog
											= link_to "ПРОГРАММА 2011", all_pages_path(:id=>2)
											- if page = Page.children(2)
												%ul
													- page.each do |ch|
														%li
															= link_to  truncate(ch.name, :length=>30, :ommision=>'...'), show_path(:id=>ch.id), :class=>'top_menu_but'
										%li.menu_but_line.float_left.next
											= link_to 'КИНОФОРУМ "ПРОЕКТ НА ЗАВТРА"', all_pages_path(:id=>3)
											- if page = Page.children(3)
												%ul
													- page.each do |ch|
														%li
															= link_to  truncate(ch.name, :length=>30, :ommision=>'...'), show_path(:id=>ch.id), :class=>'top_menu_but'
										%li.menu_but_line.float_left.acts
											= link_to "СОБЫТИЯ", all_pages_path(:id=>4)
											- if page = Page.children(4)
												%ul
													- page.each do |ch|
														%li.events
															= link_to  truncate(ch.name, :length=>25, :ommision=>'...'), show_path(:id=>ch.id), :class=>'top_menu_but'
										%li.menu_but_line.float_left.kalend
											= link_to "КАЛЕНДАРЬ", all_pages_path(:id=>5)
											- if page = Page.children(5)
												%ul
													- 18.upto(24) do |n|
														- if kalend? n
															%li.kalend
																= link_to n.to_s+" октября", kalend_date_path(:id=>n), :class=>'top_menu_but'
									.last
								%table.video
									%tr
										%td#video_top{:colspan=>3} &nbsp;
									%tr
										%td#video_left &nbsp;
										%td#video_center
											= image_tag "main/video2012.png", :id => 'image-bg'
											%a{:href=>'#tesvideo', :id=>"video_main", :style=>'margin:0; padding:0;display:none'}
												= image_tag 'main/play.png', :style => 'position:absolute;margin-top:-280px;margin-left:260px;'
											-# %iframe.video_klip{:width=>"640", :height=>"355", :src=>"http://www.youtube.com/embed/i8kuqMkMGYI", :frameborder=>"0", :noresize=>"no", :noborder=>"noborder", :spacing=>"0", :allowfullscreen=>"true", :scrolling=>"no", :hspace=>"0", :vspace=>"0", :marginwidth=>"0", :marginheight=>"0", :top=>"0",  :style=>"z-index:100; wmode:'transparent';"} Your browser does not support iFrames    старый ролик - http://www.youtube.com/v/i8kuqMkMGYI?version=3&amp;hl=en_US
											#tesvideo{:style=>"display:none"}
												%iframe{:src=>"http://player.vimeo.com/video/45895340?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179", :width => "640", :height=>"360", :frameborder=>"0", :webkitAllowFullScreen => true, :mozallowfullscreen=>true, :allowFullScreen=>true}
											/
												#tesvideo{:style=>"display:none"}
													%object{:width=>"640", :height=>"360"}
														%param{:name=>"movie", :value=>"http://www.youtube.com/v/RYrsq8151EQ?version=3&amp;hl=en_US"}
														%param{:name=>"allowFullScreen", :value=>"true"}
														%param{:name=>"wmode", :value=>"transparent"}
														%param{:name=>"allowscriptaccess", :value=>"always"}
														%embed{:src=>"http://www.youtube.com/v/RYrsq8151EQ?version=3&amp;hl=en_US", :type=>"application/x-shockwave-flash", :width=>"640", :height=>"360", :allowscriptaccess=>"always", :allowfullscreen=>"true", :wmode=>"transparent"}
										%td#video_right
					%table#bottom
						%tr
							%td#news
								= link_to "НОВОСТИ", show_path(:id=>6), :class=>'bottom_menu'
							%td#acts
								= link_to "СОБЫТИЯ", all_pages_path(:id=>4), :class=>'bottom_menu'
							%td#prog
								= link_to "ПРОГРАММА", all_pages_path(:id=>2), :class=>'bottom_menu'
					%table#bottom2
						%tr
							%td#fest
								= link_to "КИНОФЕСТИВАЛЬ", show_path(:id=>1), :class=>'bottom_menu'
							%td#next
								= link_to "ПРОЕКТ НА ЗАВТРА", all_pages_path(:id=>3), :class=>'bottom_menu'
					= image_tag "main/art-kino.png", :style=>"position:absolute;margin-top:5px;margin-left:407px;width:40px;height:40px;"
					#footer
						#social_href
							%span В социальных сетях:
							%a{:href=>"http://www.facebook.com/pages/2morrow-festival/141815579163939"}
								= image_tag "main/facebook.png"
								
							%a{:href=>"http://2morrowfest.livejournal.com"}
								= image_tag "main/twitter.png"
							%a{:href=>"http://vkontakte.ru/id89645031"}
								= image_tag "main/vkontakte.png"
						#info_href
							%span Подписка на новости и события:
							%a{:href=>"http://2morrowfest.ru/rss"}
								= image_tag "main/rss.png"								
							%a{:href=>"#"}
								= image_tag "main/mail.png"
						#kontakt_href
							%span Контактная информация:
						#footer_info
							%span &copy; 2007-2012, Международный кинофестиваль "2morrow/Завтра"
							%a{ :href=>"http://atldesign.ru" } Разработчик: ARTLevel_Design
				%td.right &nbsp;
